{% extends 'layout.html' %}

{% block title %}
  JOB PORTAL
{% endblock %}

{% block content %}
  <h1>Welcome To Job Portal</h1>
  {% comment %} <a href="{% url 'job_create' %}" class="btn btn-primary">Add a job</a> {% endcomment %}
  <div style="display: grid; grid-template-columns: auto auto auto; grid-auto-flow: row; row-gap: 20px;margin-top: 20px; column-gap: 15px; justify-content: center;" >
    {% for job in jobs %}
      <div class="card bg-dark" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Role : {{ job.name }}</h5>
          <h6 class="card-title mb-2 ">Company : {{ job.company }}</h6>
          <p class="card-text">Salary : {{ job.salary }}</p>
          {% if job.user == user %}
            <a href="{% url 'job_edit' job.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'job_delete' job.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>    
    {% endfor %}
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination" style="margin-top: 20px; justify-content: center;">
      {% if jobs.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      
      {% if jobs.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ jobs.next_page_number }}">Next</a></li>
      {% endif %}
      
    </ul>
  </nav>
{% endblock %}
