{% extends 'layout.html' %}

{% block title %}
  JOB PORTAL
{% endblock %}

{% block content %}
  <h1>Welcome To Job Portal</h1>

  {% if not user_has_company %}
    <a class="btn btn-primary" href="{% url 'company_create' %}">Create a company</a>
  {% else %}
    <p>You already have a company. You can't create another one.</p>
  {% endif %}
  <div style="display: flex; flex-direction: row; justify-content: space-around;">
    {% for company in companies %}
      <div class="card bg-dark" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Company Name : {{ company.name }}</h5>
          <h6 class="card-subtitle mb-2 ">Company Contact : {{ company.contact }}</h6>
          <p class="card-text">Company Address : {{ company.address }}</p>
          {% if company.user == user %}
            <a href="{% url 'company_edit' company.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'company_delete' company.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
